@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&family=Roboto+Slab:wght@700;&display=swap');

.post4-generic-container{
    margin: 100px auto;
}

.post4-text-container{
    text-align: center;
}

.carousel-inner, .carousel-item{
    max-width: 400px;
    height: 200px;
    margin: 0 auto;
}

.post4-image{
    margin: 85px auto;
}

.post4-title{
    color: #404040;
    font-family: 'Roboto Slab', serif;
    font-style: normal;
    font-weight: bold;
    font-size: 35px;
    line-height: 120%;
}

.post4-text-container p{
    color: #9A9A9A;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 160%;
}