@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');


.header-container{
    padding: 20px 35px;
    border-bottom: 1.5px solid #F1F1F1;
}

.logo-container, .nav-container{
    margin: auto 0;
}

.navigation-menu{
    display: none;
	position: absolute;
	top: 25px;
	right: 0px;
	width: 180px;
	font-size: 1.2em;
    z-index: 9999;
}

.navigation-menu li {
    display: block;
	float: none;
	padding: 10px;
	text-align: right;
    background: #FFF;
    z-index: 9999;
}

.navigation-menu li a {
    margin: 0 5px;
    position: relative;
}

.toggle-nav {
    display: inline-block !important;
    color: #404040;
    transition: color linear 0.15s;
    font-size: 30px;
    float: right;
}

.toggle-nav:hover, .toggle-nav:active {
    text-decoration: none;
    color: #404040;
}

.navigation-menu li ul {
    display: none;
    background: #FFF;
    position: absolute;
    left: -150px;
    z-index: 99999;
    width: 200px;
    list-style-type: none;
}

.navigation-menu li:hover > ul {
    text-transform: uppercase;
    padding: 0 0;
    width: 200px;
    display: block;
    padding-top: 10px;
}

.navigation-menu li ul li {
    padding: 0 0;
    color: #FFF4F3;
}